body {
    font-family: 'LXGW WenKai Mono TC', sans-serif;
}

h1 {
    font-family: 'LXGW WenKai Mono TC', sans-serif;
    font-weight: 700; /* Utiliser un poids spécifique si nécessaire */
}

p {
    font-family: 'LXGW WenKai Mono TC', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'LXGW WenKai Mono TC', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

header {
    background: #ffc500;
    padding: 50px 90px;
}

.header-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.schedule {
    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule img {
    max-width: 25px;
    margin-right: 25px;
}

.schedule-right .phone
.cart-left .amount {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.schedule-right .time 
.cart-left .items {
    color: #ffffff;
    letter-spacing: 2px;
    opacity: 0.8;
    transition: 0.25s;
}

.logo img {
    max-width: 180px;
}

.cart {
    max-width: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    text-align: right;
    cursor: pointer;
    transition: 0.25s;
}

.cart img {
    max-width: 35px;
    margin-left: 25px;
    transition: 0.1s;

}

.cart:hover .items {
    color: #ffffff;
    opacity: 1;
}

.cart:active img {
    transform: scale(0.9);
}
.cart::after {
    content: '0';
    position: absolute;
    top: 0;
    right: -5px;
    width: 20px;
    height: 20px;
    background: #ffffff;
    color: #121618;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li {
    list-style: none;
    margin: 0 20px;
}

.nav li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 3px;
    transition: 0.25s;
}

.nav li a:hover {
    color:#b70202;
}

.nav li a.active::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 1px;
    background: #ffffff;
}

/* Responsive 1200px */

@media screen and (max-width: 1200px) {
    header {
        padding: 50px;
    }
    .nav li {
        margin: 0 10px;
    }
}

/* Responsive for 1024px */

@media screen and (max-width: 1024px) {
    header {
        padding: 50px;
    }
    .nav li {
        margin: 0 10px;
    }
}

.image-container {
    position: relative;
    display: inline-block;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.btn-outline-warning.btn-lg {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: #ffc107;
    color: #ffc107;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.btn-outline-warning.btn-lg:hover {
    background-color: #ffc107;
    color: #fff;
}

.btn-outline-warning.btn-lg a {
    color: #ffc107;
    text-decoration: none;
}

.btn-outline-warning.btn-lg:hover a {
    color:#ffffff;

}
    
.entree-section,
.repas-section {
    background-color: #ffc107;
    padding: 20px;
}

.entree-section h1,
.repas-section h1 {
    margin-bottom: 20px;
}

.pagination .page-item .page-link {
    background-color: #ffc107;
    color: white;
    border-color: #ffc107;
}

.pagination .page-item .page-link:hover {
    background-color: #e0a800;
    color: white;
    border-color: #e0a800;
}

.pagination .page-item.active .page-link {
    background-color: #e0a800;
    border-color: #e0a800;
}

body {
    background-color: #ffc107;
    margin: 0;
    padding: 0;
}
.menu-title {
    background-color: #ffc107;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
    margin: 0;
}
.section {
    background-color: #ffc107;
    padding: 20px;
    margin: 0;
}
.container {
    padding: 0;
    margin: 0;
    max-width: 100%;
}